10 readings RPI
[
    {
        "id": "a1a1a1a1a1a1a1a1",
        "type": "tab",
        "label": "Collect 10 Sensor Readings",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "a1a1a1a1a1a1a1a1",
        "name": "Trigger every second",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "gpio_read"
            ]
        ]
    },
    {
        "id": "gpio_read",
        "type": "rpi-gpio in",
        "z": "a1a1a1a1a1a1a1a1",
        "name": "Sensor Read (GPIO17)",
        "pin": "17",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "collect_10"
            ]
        ]
    },
    {
        "id": "collect_10",
        "type": "function",
        "z": "a1a1a1a1a1a1a1a1",
        "name": "Collect 10 Readings",
        "func": "// Get buffer or initialize\nlet buffer = flow.get(\"sensor_buffer\") || [];\n\n// Push new reading\nbuffer.push(msg.payload);\n\n// Store updated buffer\nflow.set(\"sensor_buffer\", buffer);\n\nif (buffer.length >= 10) {\n    let out = {\n        payload: buffer\n    };\n    // Clear buffer\n    flow.set(\"sensor_buffer\", []);\n    return out;\n} else {\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "debug10",
                "ui_chart"
            ]
        ]
    },
    {
        "id": "debug10",
        "type": "debug",
        "z": "a1a1a1a1a1a1a1a1",
        "name": "Show 10 Readings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui_chart",
        "type": "ui_chart",
        "z": "a1a1a1a1a1a1a1a1",
        "name": "Chart",
        "group": "ui_group1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Sensor Values",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "outputs": 1,
        "x": 800,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_group1",
        "type": "ui_group",
        "name": "Sensor Dashboard",
        "tab": "ui_tab1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab1",
        "type": "ui_tab",
        "name": "Sensor Panel",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
