IR sensor Logistic
[{"id":"b1a1a5f3f4e29e3a","type":"tab","label":"IR Object Detection","disabled":false,"info":""},{"id":"f3bc0d93d3c1b12a","type":"rpi-gpio in","z":"b1a1a5f3f4e29e3a","name":"IR Sensor (GPIO 17)","pin":"11","intype":"up","debounce":"25","read":true,"bcm":true,"x":160,"y":100,"wires":[["e470c0ed9d2feccf"]]},{"id":"e470c0ed9d2feccf","type":"function","z":"b1a1a5f3f4e29e3a","name":"Structure Data","func":"// Simulate distance (normally you would read from ultrasonic if available)\nlet distance = Math.floor(Math.random() * 100);\n\nlet isObjectPresent = msg.payload === 0 ? 1 : 0;\n\nlet reading = {\n    features: [distance],\n    target: isObjectPresent,\n    time: new Date().getTime()\n};\n\n// Maintain last 10 readings\nlet readings = flow.get(\"readings\") || [];\nreadings.push(reading);\nif (readings.length > 10) readings.shift();\nflow.set(\"readings\", readings);\n\nmsg.payload = {\n    x: reading.features,\n    y: reading.target\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":100,"wires":[["f8f1f34743df06a1"]]},{"id":"f8f1f34743df06a1","type":"regression","z":"b1a1a5f3f4e29e3a","name":"Logistic Regression","dataSetSize":0,"regressionType":null,"polynomialOrder":2,"precision":2,"xInputField":"payload.x","xInputFieldType":"msg","yInputField":"payload.y","yInputFieldType":"msg","yOutputField":"payload.y","yOutputFieldType":"msg","functionOutputField":"function","functionOutputFieldType":"msg","resultOnly":false,"x":590,"y":100,"wires":[["a37a39479cfe5b6e","dcfa3aa9f3567ab9"]]},{"id":"a37a39479cfe5b6e","type":"debug","z":"b1a1a5f3f4e29e3a","name":"Equation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"function","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":60,"wires":[]},{"id":"dcfa3aa9f3567ab9","type":"debug","z":"b1a1a5f3f4e29e3a","name":"Predicted Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":140,"wires":[]},{"id":"c1f5f5248f4e4e72","type":"rpi-gpio in","z":"b1a1a5f3f4e29e3a","name":"IR Sensor","pin":"17","intype":"down","debounce":"25","read":true,"bcm":true,"x":140,"y":180,"wires":[["57d6c9ab4b1fa9fc"]]},{"id":"57d6c9ab4b1fa9fc","type":"function","z":"b1a1a5f3f4e29e3a","name":"Structure + Logistic","func":"// Simulate distance reading (replace with real one if available)\nlet distance = Math.random() * 100; // 0 to 100 cm\n\n// Simulated coefficients (normally trained)\nlet w = -0.1; // coefficient\nlet b = 5;     // bias\n\n// Logistic regression output\nlet z = w * distance + b;\nlet probability = 1 / (1 + Math.exp(-z));\n\n// Binary classification\nlet object_present = probability > 0.5 ? 1 : 0;\n\n// Prepare structured data\nmsg.payload = {\n    distance: distance,\n    probability: parseFloat(probability.toFixed(3)),\n    prediction: object_present,\n    time: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":180,"wires":[["5c6b861028ca1f65"]]},{"id":"5c6b861028ca1f65","type":"debug","z":"b1a1a5f3f4e29e3a","name":"Logistic Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":180,"wires":[]}]
